.home-container {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .col{
      width: 50%;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      padding-inline-start: 50px;
      padding-inline-end: 70px;

      .image-container{
        .image{
          display: block;
          margin: 0px auto;
          height: 318px;
          width: 524.96281px;
        }
      }

      h1 {
        font-family: 'Lexend Deca';
        font-size: 36px;
        line-height: 44px;
        color: rgb(25, 27, 51);
        overflow-wrap: break-word;
        font-weight: bold;
        text-align: start;
      }
      p{
        margin-top: 0px;
        max-width: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: rgba(25, 27, 51, 0.7);
        overflow-wrap: break-word;
      }

      .button-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        button{
          background-color: #CF9FFF;
          border-radius: 4px;
          border: none;
          padding: 8px 18px;

          span{
            font-family: 'Lexend Deca';
            font-style: normal;
            font-display: swap;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            color: #ffffff;
          }
        }
        .support-text{
          font-family: 'Lexend Deca';
          font-style: normal;
          font-display: swap;
          font-weight: 400;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .people-filled{
        display: flex;
        align-items: center;
        margin-top: 8px;

        span{
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: rgb(25, 27, 51);
        }
      }
      
    }
  }
  
  
  .left-column {
    h1 {
      font-family: 'Lexend Deca';
      font-style: normal;
      font-display: swap;
      font-weight: 800;
      font-size: 40px;
      color: black;
    }
  
    p {
      font-family: 'Lexend Deca';
      font-style: normal;
      font-display: swap;
      font-weight: 400;
      font-size: 20px;
      color: #747578;
  
      .highlight {
        font-weight: 800;
      }
    }
  

    .people-filled {
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: black;
      font-size: 16px;
      font-weight:bold;
    }
  }
    

